/*header*/

.header{
    background: white;
    width:100%;
    height: 56px;
    box-sizing: border-box;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.08);
}

.header .navBar h1, .header .navBar a, .header .navBar a img{
    height: 100%;
}

.header .navBar{
    width: 100%;
    height: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
}

.header .navBar .menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header .navBar .menu li{
    width: 100%;
}

.header .navBar .menu a{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--main-gray);
    font-size: 20px;
}

.header .navBar .menu a img{
    width: 18px;
}

.header .navBar .menu a:hover{
    opacity: 0.7;
}

.header .navBar .menu .hamburger{
    display: none;
    position: relative;
}

.cartNum {
    color: var(--main-gray);
    display: flex;
}

.cartNum .pc{
    display: inline-block;
}

.cartNum .mb{
    display: none;
}

@media (width <= 700px){
    .header{
        padding: 5px 20px;
    }
    .header .navBar .menu li{
        display: none;
    }

    .header .navBar .menu a img{
        width: 20px;
    }

    .header .navBar .menu li:nth-last-child(-n+2){
        display: block;
    }

    .header .navBar .menu .hamburger{
        width: 20px;
    }

    .cartNum .pc{
        display: none;
    }

    .cartNum{
        position: relative;
    }

    .cartNum .mb{
        color: white;
        background-color: var(--main-brown);
        display: inline-block;
        position: absolute;
        right: -8px;
        top: -18px;
        font-size: 12px;
        padding: 2px 7px;
        border-radius: 7px;
    }
}

/* mobile menu */

#menu__toggle{
    display: none;
}

#mobile__menu__box{
    display: none
}

@media (width <= 768px) {
    #menu__toggle{
        display: block;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 0px;
        width: 40px;
        height: 100%;
        margin: 0px;
        border: 0px;
    }

    #mobile__menu__box{
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    #menu__toggle:checked ~ #mobile__menu__box {
        z-index: 999;
        opacity: 1;
        visibility: visible;
    }

    #mobile__menu__box{
        width: 100%;
        background: #707070;
        position: absolute;
        top: 56px;
        left: 0px;
        font-size: 16px;

    }

    #mobile__menu__box li{
        border-bottom:1px solid white;
        cursor: pointer;
    }

    #mobile__menu__box li:hover{
        background: rgb(88, 88, 88);
    }

    #mobile__menu__box li a{
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    #mobile__menu__box li:last-child{
        border-bottom:1px solid #707070
    }
}

