@import url('./reset.css');
@import url('./font.css');
@import url('./color.css');
@import url('./component/header.css');
@import url('./component/footer.css');
@import url('./component/subscribe.css');

img{
    display: block;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.maxWidth{
    max-width: 1110px;
    width: 100%;
}
