@import url('./global.css');

/*brands bar*/

.brands_bar{
    width: 100%;
    margin:0 auto;
    background-color: #916000;
    height: 80px;
	display: flex;
}

.brands_bar ul{
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
    display: flex;
	justify-content:left;
	align-items: center;
    padding: 40px;
    box-sizing: border-box;
    
}

.brands_bar a{
    text-decoration: none;
    font: normal normal medium 14px/21px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;  
    margin-right: 20px ;
}

@media (max-width:767px){
    .brands_bar{
        display: none;
    }
}

/*products*/

.products{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
}

.item{
    padding-top:10px;
    padding-bottom:10px ;
}

.item img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.item  a{
    text-decoration: none;
    color: #000000;

}

.item h3{
    margin-bottom: 5px;
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    opacity: 1;
}

.item p{
    text-align: left;
    font: normal normal 300 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.item .price{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-top: 5px;
}


.price span{
    color: #8D8D8D;
    text-decoration:line-through;
    font: normal normal 300 16px/24px SF Pro Text;
    margin-left: 10px;
    
}

.item ul{
    display: flex;
    justify-content: left;
    align-items: center;
}

.item li{
   margin-right: 7px;
}

.item ul img{
    width: 20px;
    height: 20px;
}


@media (max-width:767px){
    .wrap{
        min-width: 375px;
    }
    .item{
        width: 165px;
    }
    .item img{
        width: 165px;
        height: 165px;
    }
}

/*pagenation*/


.pagenation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenation li{
    padding: 20px;
}


.pagenation a{
    text-decoration: none;
    color:black
}

.pagenation a.active {
    color: #AC8A46;
    text-decoration: underline;
}



/*subscribe*/

.subscribe{
    background-image: url('/img/Subscribe.jpg');
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.subscribe h2{
    color:#8D8D8D;
    font-size: 32px;
    font: normal normal 600 32px PingFang TC;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 300px;
}

.subscribe_input{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.subscribe_input input{
    margin: 0;
    padding: 0;
    border: none;
    background: whitesmoke;
    font: inherit;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none; /* Remove default appearance in Webkit-based browsers */
    -moz-appearance: none;    /* Remove default appearance in Firefox */
    appearance: none;         /* Remove default appearance in modern browsers */
    margin-left: 300px;
    width: 150px;
    height: 30px;
    border: 3px, solid,#916000;
    font-size: 12px;
}

.subscribe_input button, input[type="button"], input[type="submit"] {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: none;
    background:#916000 ;
    font-size: 10px;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none; /* Remove default appearance in Webkit-based browsers */
    -moz-appearance: none;    /* Remove default appearance in Firefox */
    appearance: none;         /* Remove default appearance in modern browsers */
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus {
    outline: none; /* Remove the focus outline */
}

@media (max-width:767px){
    .subscribe{
        justify-content: center;
        align-items: start;
    }

    .subscribe h2{
        margin-left: 10px;
    }

    .subscribe_input input{
        margin-left: 10px;
    }

}

/*footer*/

.footer{
    width: 100%;
    margin:0 auto;
    background-color: #916000;
    height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer h5{
    background-image: url('/img/d’Perfumew.png');
    max-width: 1100px;
    background-repeat: no-repeat;
    block-size: contain;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; /**/
    width: 140px;
    height: 45px;
    transition: all 0.2s; /**/
    margin-left: 30px;
}

.footer h6{
	margin-left: 10px;
	color: #FFFFFF;
}

.footer_left{
	display: flex;
	justify-content:center;
    align-items: center;
    width: 100%;
}

.footer ul{
    width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
   
    font: normal normal medium 14px/21px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;  
    
}


.footer a{
	text-decoration: none;
    color: #FFFFFF;
	margin-left: 20px;
    text-align: center;
    font: normal normal normal 20px/30px SF Pro Text;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

@media (max-width:767px){
    .footer_left{
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .footer ul {
        display: none; /* Hide the ul element */
    }


}