@import url('./reset.css');

img{
    max-width: 100%;
    height: auto;
}

*,*::before,*::after{
    box-sizing: border-box;
}


.wrap{
    width: 100%;
    margin: 0 auto;
}

/*header*/

.header{
    background: color white;
    max-width: 1100px;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header h1{
    background-image: url('img/d’Perfume.png');
    background-repeat: no-repeat;
    block-size: contain;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; /**/
    width: 200px;
    height: 38px;
    transition: all 0.2s; /**/
    margin-left: 30px;
}

.navBar{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.navBar ul{
    display: flex;
}

.navBar li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right:20px
}

.navBar a{
    text-decoration: none;
    font: normal normal normal 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #8D8D8D;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.navBar a:hover{
    color: #AC8A46;
    font-style: bold;
}


.showsCart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
}

.carts img{
    display: none; /* Hide by default */
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 40px; /*why that will bother the measuremeant of carts ?? */
}

.total_products{
    display: none;
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top:0px;
    right:0px;
}

.menu img{
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
}



@media (max-width:767px){
    .wrap{
        padding: 0 15px;
    }

    .header{
        justify-content: space-between;
        align-items: center;
    }

    .header h1{
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0px;
    }
    .navBar{
        display: none; /* Hide the nav links */
    }

    /*style carts and menu icon*/

    .update_bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carts img{
        display: flex; /*shows icon*/
    }

    .total_products{
        display: flex;
    }

    .menu img{
        display: flex;
    }
}

/*banner*/

.banner {
    background-image: url('img/banner.jpg');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.banner_content{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 600px;
}

.banner_content h1{
    text-align: left;
    font: normal normal bold 40px/60px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.banner_content p{
    text-align: left;
    font: normal normal normal 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 5px;
}

.banner_content a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;

    border: 2px solid #FFFFFF;
    border-radius: 30px;
    opacity: 1;
    font-size: 30px;
    color: #FFFFFF;
}

@media (max-width:767px){
    .banner_content{
        margin:10px;
        justify-content: center;
        align-items: center;
    }
}


/*content*/
.content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content_1{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.content_1 img{
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.content_1_text{
    width: 550px;
    display: flex;
    padding-left:50px ;
    padding-right: 110px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.content_1_text h3{
    text-align: left;
    font: normal normal bold 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_1_text p{
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 300 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_1_text a{
    text-decoration: none;
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
}

@media (max-width:767px){
    .content_1{
        flex-wrap: wrap;
    }

    .content_1 img{
        width: 100%;
        height: 500px;
    }
    .content_1_text{
        padding-left:15px ;
        padding-right: 15px;
        padding-bottom: 32px;
    }


}

.content_2{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content_2 img{
    width: 550px;
    height: 550px;
    object-fit: cover;
   
}

.content_2_text{
    width:550px;
    padding-left: 100px;
    padding-right: 50px;
}

.content_2_text h3{
    text-align: left;
    font: normal normal bold 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_2_text p{
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 300 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_2_text a{
    text-decoration: none;
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
}

.content_3{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;  
}

.content_3 img{
    width: 550px;
    height: 550px;
    object-fit: cover;
    object-position: left;
}

@media (max-width:767px){
    .content_2{
        flex-wrap: wrap;
    }
    .content_2_text{
        padding-left:15px ;
        padding-right: 15px;
        padding-bottom: 32px;
    }
    .content_2 img{
        width: 100%;
        height: 500px;
    }


}

.content_3_text{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 110px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.content_3_text h3{
    text-align: left;
    font: normal normal bold 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_3_text p{
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 300 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.content_3_text a{
    text-decoration: none;
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
}

@media (max-width:767px){
    .content_3{
        flex-wrap: wrap;
    }
    .content_3_text{
        padding-left:15px ;
        padding-right: 15px;
        padding-bottom: 32px;
    }
    .content_3 img{
        width: 100%;
        height: 500px;
    }
}

.content_4{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.content_4 img{
    width: 550px;
    margin: 0 auto;
    object-fit: cover;

    
}

.content_4_text{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.content_4_text h4{
    text-align: left;
    font: normal normal bold 24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 10px;
}

.content_4_text p{
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 300 16px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 52px;
}

.content_4_text a{
    text-decoration: none;
    text-align: center;
    font: normal normal medium 20px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 18px;
}

.content_4_text span{
    display: block;
    text-align: center;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 30px;
    opacity: 1;
    cursor: pointer;
}

@media (max-width:767px){
    .content_4{
        flex-wrap: wrap;
    }
    .content_4_text{
        padding-left:15px ;
        padding-right: 15px;
        padding-bottom: 32px;
    }
    .content_4 img{
        width: 100%;
        height: 500px;
    }
}



/*select_content*/

.selected_content{
    background-color: #E0E0E0;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.selected_products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    
}

.selected_products img{
    width: 320px;
    height: 540px;
    margin-bottom: 10px;
    object-fit: cover;
}


.selected_discount  a{
    text-decoration: none;
    color: #000000;

}

.selected_discount h3{
    margin-bottom: 5px;
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    opacity: 1;
}

.selected_products p{
    text-align: left;
    font: normal normal 300 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.selected_discount .price{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-top: 15px;
}


.price span{
    color: #8D8D8D;
    text-decoration:line-through;
    font: normal normal 300 16px/24px SF Pro Text;
    margin-left: 10px;
    
}


.selected_item1 h3{
    margin-bottom: 5px;
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    opacity: 1;
}

.selected_item1 p{
    text-align: left;
    font: normal normal 300 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.selected_item1 .price{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-top: 15px;
}


.selected_item1 a{
    text-decoration: none;
    color: #000000;
}

.selected_soldout h3{
    margin-bottom: 5px;
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    opacity: 1;
}

.selected_soldout p{
    text-align: left;
    font: normal normal 300 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.selected_soldout .price{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-top: 15px;
}


.selected_soldout a{
    text-decoration: none;
    color: #000000;
}

.soldout_container{
    position: relative;
    width: fit-content;
    display:block; /*to wrap the img, but you should do block instead of in line-block cuz inline-block would also cover your margin bottom*/ 
}

.soldout_container img{
    display: block;
}

.soldout_tag{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    color:#E0E0E0;

    font-size: 24px;
    font-style: bold;

}

@media (max-width:767px){
    .selected_content{
        width: 100%;
        height: 160%;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .selected_products{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .selected_products img{
        width: 340px;
        height: 350px;
        object-fit: cover;
        object-position: bottom;
        padding-top: 20px;
        padding-bottom: 0 px;
    }


    .selected_soldout img{
        object-position: center;
        padding-top: 0;
        margin-top: 20px;
    }

}




/*recycling*/

.recycling_adv{
    background: color white;
    width:100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recycling_adv img{
    width: 600px;
    height: 520px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recycling_content{
    width: 100%;
    padding: 50px;
}

.recycling_content h3{
    text-align: left;
    font: normal normal bold 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.recycling_content p{
    margin-bottom: 15px;
    text-align: left;
    font: normal normal 300 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.recycling_content a{
    text-decoration: none;
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
    
}


@media (max-width:767px){
    .recycling_adv{
        flex-direction: column;
    }

    .recycling_adv img{
        width: 100%;
        height: 600px;
        object-fit: cover;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .recycling_content{
        padding: 20px;
    }
}

/*subscribe*/


.subscribe{
    background-image: url('img/Subscribe.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position:center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}


.subscribe h2{
    color:#8D8D8D;
    font-size: 32px;
    font: normal normal 600 32px PingFang TC;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 300px;
}

.subscribe_input{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.subscribe_input input{

    background: whitesmoke;
    cursor: pointer; /*visual cue indicates that the element is clickable*/
 
    margin-left: 300px;
    width: 150px;
    height: 40px;
    border: 3px, solid,#916000;
    font-size: 12px;

}

.subscribe_input button, input {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    background:#916000 ;
    font-size: 10px;
    color: #FFFFFF;
    cursor: pointer; /*visual cue indicates that the element is clickable*/
    
}




@media (max-width:767px){
    .subscribe{
        justify-content: center;
        align-items: start;
    }

    .subscribe h2{
        margin-left: 10px;
    }

    .subscribe_input input{
        margin-left: 10px;
    }

}


/*footer*/

.footer{
    width: 100%;
    margin:0 auto;
    background-color: #916000;
    height: 80px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer h5{
    background-image: url('img/d’Perfumew.png');
    max-width: 1100px;
    background-repeat: no-repeat;
    block-size: contain;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; /**/
    width: 140px;
    height: 45px;
    transition: all 0.2s; /**/
    margin-left: 30px;
}

.footer h6{
	margin-left: 10px;
	color: #FFFFFF;
}

.footer_left{
	display: flex;
	justify-content:center;
    align-items: center;
    width: 100%;
}

.footer ul{
    width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
    text-align: left;
    padding: 10px;
 
   
    font: normal normal medium 14px/21px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;  
    
}


.footer a{
	text-decoration: none;
    color: #FFFFFF;
	margin-left: 20px;
    text-align: center;
    font: normal normal normal 20px/30px SF Pro Text;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

@media (max-width:767px){
    .footer_left{
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .footer ul {
        display: none; /* Hide the ul element */
    }


}
